*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  // define 1rem: 1rem = 10px; 10px / 16px = 62.5%
  font-size: 62.5%;

  @include response(tab-land) {
    // width < 900
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25
  }

  @include response(tab-portrait) {
    // width < 600
    font-size: 50%; // 1rem = 8px, 8/16 = 50
  }

  @include response(monitor) {
    font-size: 75%; // 1rem = 12px, 12/16 = 75
  }
}

body {
  box-sizing: border-box;
  padding: 2rem;

  @include response(tab-portrait) {
    // width < 600
    padding: 0;
  }
}
