.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-family: inherit;
        color: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        background-color: rgba(white, 0.6);
        border: none;
        border-bottom: 2px solid transparent;
        width: 90%;
        display: block;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(black, 0.3);
            border-bottom: 2px solid var(--color-secondary);
        }

        &:focus:invalid {
            border-bottom: 2px solid var(--color-secondary-dark);
        }

        &::-webkit-input-placeholder {
            color: var(--color-gray-dark);
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 500ms;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}
