.footer {
  background-color: var(--color-gray-dark-2);
  color: var(--color-gray-light-2);
  padding: 10rem 0;
  font-size: 1.4rem;

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo {
    width: 15rem;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 66% 50%, 100% 100%, 0 99%, 0 48%);
  }

  &__navigation {
    border-top: 1px solid var(--color-gray-light);
    display: inline-block;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: var(--color-gray);
      background-color: var(--color-gray-dark-2);
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 220ms;
    }

    &:hover,
    &:active {
      color: var(--color-secondary);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0.1);
      transform: rotate(5deg) scale(1.2);
    }
  }

  &__copyright {
    width: 80%;
    float: right;
  }
}
